@page
@model PropertyManagement.Pages.Property_Octions.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Property_Oction[0].Bid_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property_Oction[0].Property_Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property_Oction[0].Customer_Detail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property_Oction[0].Dealer_Detail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Property_Oction) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Bid_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property_Detail.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Detail.Customer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dealer_Detail.Dealer_Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
