@page
@model PropertyManagement.Pages.Property_Octions.IndexModel

@{
    ViewData["Title"] = "Index";
}
<style>
    h1 {
        text-align: center
    }
</style>

<h1>Property Auction</h1>

<p>
    <a asp-page="Create">Click for Add your Auction price</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer
            </th>
            <th>
                Dealer
            </th>
            <th>
                Property Area
            </th>
            <th>
                Bid Price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Property_Oction)
        {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Customer_Detail.Customer_Name)
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dealer_Detail.Dealer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property_Detail.Area)
               
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bid_Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
