@page
@model PropertyManagement.Pages.Property_Details.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <!--head tag for property details-->
    <h4>Property_Detail</h4>
    <hr />
    <!--all labels which shows in property delete table-->
    <dl class="row">
        <dt class="col-sm-2">
            .Property Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property_Detail.Property_Type)
        </dd>
        <dt class="col-sm-2">
            Property Area
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property_Detail.Area)
        </dd>
        <dt class="col-sm-2">
           Price Of Property
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property_Detail.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Property_Detail.Facilities)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Property_Detail.Facilities)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Property_Detail.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
